
{% extends 'template-1.html' %}


{% block pageTitle %}
  GPs
{% endblock %}

<!-- Header goes inside the header block -->
<!-- More info and code for the header can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %}
{{
 header({
    "showNav": "true",
    "showSearch": "true",
    "primaryLinks": [
      {
        "url": "",
        "label" : "Health A-Z "
      },
      {
        'url': '',
        'label' : 'Live Well'
      },
      {
        'url': '',
        'label' : 'Mental health'
      },
      {
        'url': '',
        'label' : 'Care and support'
      },
      {
        'url': '',
        'label' : 'Pregnancy'
      },
      {
        'url': '../nhs-services',
        'label': 'NHS services'
      }
    ]
  })
}}
{% endblock %}



{% block beforeContent %}
<nav class="nhsuk-breadcrumb beta-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      
      <li class="nhsuk-breadcrumb__item">
          <a href="../../nhsuk" class="nhsuk-breadcrumb__link">Home</a>
        </li>
        
      <li class="nhsuk-breadcrumb__item">
          <a href="../nhs-services" class="nhsuk-breadcrumb__link">NHS services</a>
        </li>
        
      </ol>

      <p class="nhsuk-breadcrumb__back">
        
          <a href="../nhs-services" class="nhsuk-breadcrumb__backlink">
            <span class="nhsuk-u-visually-hidden">Back to </span>
            NHS services
          </a>
        
      </p>
    </div>
  </nav>
{% endblock %}




{% block content %}
<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper nhsuk-u-padding-top-0 nhsuk-u-padding-top-0" id="maincontent" lang="en-GB">
  
<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-full">

<div class="nhsuk-u-reading-width">


<h1>

GPs

</h1>
<p class="nhsuk-lede-text">
About GP services, including how to find and register with a local GP and how to book an appointment.
</p>


</div>

<article>






<div class="nhsuk-u-reading-width">


<div class="nhsuk-action-link">

<a class="nhsuk-action-link__link" href="../service-search/find-a-gp">

<svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="36" width="36">
<path d="M0 0h24v24H0z" fill="none"></path>
<path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
</svg>
<span class="nhsuk-action-link__text">Find a GP</span>
</a>
</div>

</div>






<section class="nhsuk-u-reading-width">
  <ul class="nhsuk-hub-key-links beta-hub-key-links">
    
      <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
        <a href="">
          How to register with a GP surgery
        </a>
      </li>
    
      <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
        <a href="">
          Registering with a GP surgery outside your local area
        </a>
      </li>
    
      <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
        <a href="">
          Appointments and bookings at your GP surgery
        </a>
      </li>
    
      <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
        <a href="">
          Using an online form to contact your GP surgery
        </a>
      </li>
    
      <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
        <a href="">
          Video consultations
        </a>
      </li>
    
      <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
        <a href="">
          What to ask your doctor or other healthcare professional
        </a>
      </li>
    
      <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
        <a href="">
          View your GP health record
        </a>
      </li>
    
      <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
        <a href="">
          Using online services
        </a>
      </li>
    
      <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
        <a href="">
          Online health and prescription services
        </a>
      </li>
    
  </ul>
</section>



<div class="nhsuk-u-reading-width nhsuk-u-margin-top-6 nhsuk-hub-after-key-links">

</div>



<div class="nhsuk-u-margin-top-6  beta-hub-border-top ">
<div class="beta-hub-related-links-title">
<h2 class="nhsuk-heading-s ">Related services</h2>
</div>
<ul class="beta-hub-related-links">

<li class="beta-hub-related-links__list-item">
  <a href="">
    Referrals for specialist care
  </a>
  
</li>

<li class="beta-hub-related-links__list-item">
  <a href="">
    Book an appointment using the NHS e-Referral Service
  </a>
  
</li>

<li class="beta-hub-related-links__list-item">
  <a href="">
    Coronavirus (COVID-19) vaccine
  </a>
  
</li>

</ul>
</div>






</article>

</div>
</div>

  
</main>
</div>
    {% endblock %}

