
{% extends 'template-1.html' %}


{% block pageTitle %}
  Visiting or moving to England
{% endblock %}

<!-- Header goes inside the header block -->
<!-- More info and code for the header can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %}
{{
 header({
    "showNav": "true",
    "showSearch": "true",
    "primaryLinks": [
      {
        "url": "",
        "label" : "Health A-Z "
      },
      {
        'url': '',
        'label' : 'Live Well'
      },
      {
        'url': '',
        'label' : 'Mental health'
      },
      {
        'url': '',
        'label' : 'Care and support'
      },
      {
        'url': '',
        'label' : 'Pregnancy'
      },
      {
        'url': '../nhs-services',
        'label': 'NHS services'
      }
    ]
  })
}}
{% endblock %}



{% block beforeContent %}
<nav class="nhsuk-breadcrumb beta-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      
      <li class="nhsuk-breadcrumb__item">
          <a href="../../nhsuk" class="nhsuk-breadcrumb__link">Home</a>
        </li>
        
      <li class="nhsuk-breadcrumb__item">
          <a href="../nhs-services" class="nhsuk-breadcrumb__link">NHS services</a>
        </li>
        
      </ol>

      <p class="nhsuk-breadcrumb__back">
        
          <a href="../nhs-services" class="nhsuk-breadcrumb__backlink">
            <span class="nhsuk-u-visually-hidden">Back to </span>
            NHS services
          </a>
        
      </p>
    </div>
  </nav>
{% endblock %}




{% block content %}
<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper nhsuk-u-padding-top-0 nhsuk-u-padding-top-0" id="maincontent" lang="en-GB">
  
<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-full">

<div class="nhsuk-u-reading-width">


<h1>

Visiting or moving to England

</h1>
<p class="nhsuk-lede-text">
Advice about using the NHS if you're planning to visit or move to England.
</p>


</div>

<article>











<section class="nhsuk-u-reading-width">
  <ul class="nhsuk-hub-key-links beta-hub-key-links">
    
      <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
        <a href="https://www.nhs.uk/nhs-services/visiting-or-moving-to-england/how-to-access-nhs-services-in-england-if-you-are-visiting-from-abroad/">
          How to access NHS services in England if you are visiting from abroad
        </a>
      </li>
    
      <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
        <a href="https://www.nhs.uk/nhs-services/visiting-or-moving-to-england/visitors-from-eu-countries-norway-iceland-liechtenstein-or-switzerland/">
          Visitors from EU countries, Norway, Iceland, Liechtenstein or Switzerland
        </a>
      </li>
    
      <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
        <a href="https://www.nhs.uk/nhs-services/visiting-or-moving-to-england/visitors-from-outside-the-european-economic-area-eea/">
          Visitors from outside the European Economic Area (EEA)
        </a>
      </li>
    
      <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
        <a href="https://www.nhs.uk/nhs-services/visiting-or-moving-to-england/visitors-who-do-not-need-to-pay-for-nhs-treatment/">
          Visitors who do not need to pay for NHS treatment
        </a>
      </li>
    
      <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
        <a href="https://www.nhs.uk/nhs-services/visiting-or-moving-to-england/moving-to-england-from-eu-countries-or-norway-iceland-liectenstein-or-switzerland/">
          Moving to England from EU countries or Norway, Iceland, Liechtenstein or Switzerland
        </a>
      </li>
    
      <li class="nhsuk-hub-key-links__list-item beta-hub-key-links__list-item">
        <a href="https://www.nhs.uk/nhs-services/visiting-or-moving-to-england/moving-to-england-from-outside-the-european-economic-area-eea/">
          Moving to England from outside the European Economic Area (EEA)
        </a>
      </li>
    
  </ul>
</section>



<div class="nhsuk-u-reading-width nhsuk-u-margin-top-6 nhsuk-hub-after-key-links">

</div>





</article>

</div>
</div>

  
</main>
</div>

    {% endblock %}

