{% extends 'layout.html' %}

{% block pageTitle %}
  NHS services 
{% endblock %}

<!-- Header goes inside the header block -->
<!-- More info and code for the header can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %}
{{
 header({
    "showNav": "true",
    "showSearch": "true",
    "primaryLinks": [
      {
        "url": "https://www.nhs.uk/conditions/",
        "label" : "Health A-Z "
      },
      {
        'url': 'https://www.nhs.uk/live-well/',
        'label' : 'Live Well'
      },
      {
        'url': 'https://www.nhs.uk/mental-health/',
        'label' : 'Mental health'
      },
      {
        'url': 'https://www.nhs.uk/conditions/social-care-and-support-guide/',
        'label' : 'Care and support'
      },
      {
        'url': 'pregnancy-hub/',
        'label' : 'Pregnancy'
      },
      {
        'url': 'https://www.nhs.uk/nhs-services/',
        'label': 'NHS services'
      }
    ]
  })
}}
{% endblock %}


{% block beforeContent %}
  {{
  breadcrumb({
      href: "http://localhost:3000/",
      text: "Home"
    })
  }}
{% endblock %}





{% block content %}
<div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper nhsuk-u-padding-top-0" id="maincontent" lang="en-GB">
    
<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-full">

<div class="nhsuk-u-reading-width">

  
<h1>NHS services</h1>
<p class="nhsuk-lede-text">
</p>


</div>

<article>


<h2 class="nhsuk-u-visually-hidden">Top tasks in NHS services</h2>
<ul class="nhsuk-grid-row nhsuk-card-group nhsuk-u-padding-top-0">
  
    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      <div class="nhsuk-card nhsuk-card--clickable ">
        <div class="nhsuk-card__content">
          <a class="nhsuk-card__link nhsuk-heading-xs" href="/conditions/coronavirus-covid-19/coronavirus-vaccination/book-coronavirus-vaccination-old/">
            Book a coronavirus vaccination if you're eligible
          </a>
        </div>
      </div>
    </li>
  
    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      <div class="nhsuk-card nhsuk-card--clickable ">
        <div class="nhsuk-card__content">
          <a class="nhsuk-card__link nhsuk-heading-xs" href="/conditions/coronavirus-covid-19/testing/get-tested-for-coronavirus/">
            Get tested for coronavirus
          </a>
        </div>
      </div>
    </li>
  
    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
      <div class="nhsuk-card nhsuk-card--clickable ">
        <div class="nhsuk-card__content">
          <a class="nhsuk-card__link nhsuk-heading-xs" href="/nhs-services/prescriptions-and-pharmacies/the-nhs-website-repeat-prescription-ordering-service/">
            Use the NHS website repeat prescription ordering service
          </a>
        </div>
      </div>
    </li>
  
</ul>



<ul class="nhsuk-grid-row nhsuk-card-group">
  
    <li class="beta-hub-main-topic nhsuk-grid-column-one-half nhsuk-card-group__item">
      



<div class="nhsuk-card nhsuk-card--clickable ">
  <div class="nhsuk-card__content beta-card__content">
  <h2 class="nhsuk-card__heading nhsuk-heading-m">
    <a class="nhsuk-card__link" href="/version1/services-near-you">
      Find services near you
    </a>
  </h2>
  <div class="nhsuk-card__description"><p data-block-key="i5qgj">Find your nearest NHS services, including pharmacies, GPs, and A&amp;E</p></div>

    <div class="beta-hub-arrow">
      <svg class="nhsuk-icon beta-icon__chevron-right-circle" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true"><circle cx="13.333" cy="13.333" r="13.333" fill=""></circle><g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"><path d="M15.438 13l-3.771 3.771"></path><path data-name="Path" d="M11.667 9.229L15.438 13"></path></g></svg>
    </div>

  </div>
</div>

    </li>
  
    <li class="beta-hub-main-topic nhsuk-grid-column-one-half nhsuk-card-group__item">
      



<div class="nhsuk-card nhsuk-card--clickable ">
  <div class="nhsuk-card__content beta-card__content">
  <h2 class="nhsuk-card__heading nhsuk-heading-m">
    <a class="nhsuk-card__link" href="/nhs-services/gps/">
      GPs
    </a>
  </h2>
  <div class="nhsuk-card__description"><p data-block-key="qwcyg">About GP services, including how to find and register with a local GP and how to book an appointment</p></div>

    <div class="beta-hub-arrow">
      <svg class="nhsuk-icon beta-icon__chevron-right-circle" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true"><circle cx="13.333" cy="13.333" r="13.333" fill=""></circle><g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"><path d="M15.438 13l-3.771 3.771"></path><path data-name="Path" d="M11.667 9.229L15.438 13"></path></g></svg>
    </div>

  </div>
</div>

    </li>
  
    <li class="beta-hub-main-topic nhsuk-grid-column-one-half nhsuk-card-group__item">
      



<div class="nhsuk-card nhsuk-card--clickable ">
  <div class="nhsuk-card__content beta-card__content">
  <h2 class="nhsuk-card__heading nhsuk-heading-m">
    <a class="nhsuk-card__link" href="/nhs-services/prescriptions-and-pharmacies/">
      Prescriptions and pharmacies
    </a>
  </h2>
  <div class="nhsuk-card__description"><p data-block-key="r0sca">Order repeat prescriptions, find out about prescription charges and how pharmacists can help you with medicines and medical advice</p></div>

    <div class="beta-hub-arrow">
      <svg class="nhsuk-icon beta-icon__chevron-right-circle" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true"><circle cx="13.333" cy="13.333" r="13.333" fill=""></circle><g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"><path d="M15.438 13l-3.771 3.771"></path><path data-name="Path" d="M11.667 9.229L15.438 13"></path></g></svg>
    </div>

  </div>
</div>

    </li>
  
    <li class="beta-hub-main-topic nhsuk-grid-column-one-half nhsuk-card-group__item">
      



<div class="nhsuk-card nhsuk-card--clickable ">
  <div class="nhsuk-card__content beta-card__content">
  <h2 class="nhsuk-card__heading nhsuk-heading-m">
    <a class="nhsuk-card__link" href="/nhs-services/hospitals/">
      Hospitals
    </a>
  </h2>
    <div class="nhsuk-card__description"><p data-block-key="barcd">About NHS hospitals, booking and changing appointments with the NHS e-Referral Service and going into hospital</p></div>

    <div class="beta-hub-arrow">
      <svg class="nhsuk-icon beta-icon__chevron-right-circle" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true"><circle cx="13.333" cy="13.333" r="13.333" fill=""></circle><g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"><path d="M15.438 13l-3.771 3.771"></path><path data-name="Path" d="M11.667 9.229L15.438 13"></path></g></svg>
    </div>

  </div>
</div>

    </li>
  
    <li class="beta-hub-main-topic nhsuk-grid-column-one-half nhsuk-card-group__item">
      



<div class="nhsuk-card nhsuk-card--clickable ">
  <div class="nhsuk-card__content beta-card__content">
  <h2 class="nhsuk-card__heading nhsuk-heading-m">
    <a class="nhsuk-card__link" href="/mental-health/nhs-voluntary-charity-services/nhs-services/">
      Mental health services
    </a>
  </h2>
    <div class="nhsuk-card__description"><p data-block-key="qzh8w">Information about NHS mental health services, including how to access services and where to get urgent help</p></div>

    <div class="beta-hub-arrow">
      <svg class="nhsuk-icon beta-icon__chevron-right-circle" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true"><circle cx="13.333" cy="13.333" r="13.333" fill=""></circle><g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"><path d="M15.438 13l-3.771 3.771"></path><path data-name="Path" d="M11.667 9.229L15.438 13"></path></g></svg>
    </div>

    </div>
</div>

    </li>

    <li class="beta-hub-main-topic nhsuk-grid-column-one-half nhsuk-card-group__item">
      



<div class="nhsuk-card nhsuk-card--clickable ">
  <div class="nhsuk-card__content beta-card__content">
    <h2 class="nhsuk-card__heading nhsuk-heading-m">
      <a class="nhsuk-card__link" href="/nhs-services/visiting-or-moving-to-england/">
        Visiting or moving to England
      </a>
    </h2>
  <div class="nhsuk-card__description"><p data-block-key="9xa8i">Advice about using the NHS if you're planning to visit or move to England</p></div>

    <div class="beta-hub-arrow">
      <svg class="nhsuk-icon beta-icon__chevron-right-circle" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true"><circle cx="13.333" cy="13.333" r="13.333" fill=""></circle><g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"><path d="M15.438 13l-3.771 3.771"></path><path data-name="Path" d="M11.667 9.229L15.438 13"></path></g></svg>
    </div>

  </div>
</div>

    </li>
  
</ul>



<ul class="nhsuk-grid-row nhsuk-card-group">
  
    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item nhsuk-u-margin-bottom-6">
      



<div class="nhsuk-card nhsuk-card--clickable beta-card--plain">
  <div class="nhsuk-card__content beta-card__content">
    <h2 class="nhsuk-card__heading nhsuk-heading-m">
      <a class="nhsuk-card__link" href="/nhs-services/urgent-and-emergency-care-services/">
        Urgent and emergency care services
      </a>
    </h2>
    <div class="nhsuk-card__description"><p data-block-key="eyh8w">Services the NHS provides if you need urgent or emergency medical help</p></div>

  </div>
</div>

    </li>
  
    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item nhsuk-u-margin-bottom-6">
      



<div class="nhsuk-card nhsuk-card--clickable beta-card--plain">
  <div class="nhsuk-card__content beta-card__content">
    <h2 class="nhsuk-card__heading nhsuk-heading-m">
      <a class="nhsuk-card__link" href="/nhs-services/sexual-health-services/">
        Sexual health services
      </a>
    </h2>
  <div class="nhsuk-card__description"><p data-block-key="7x8cr">Information about NHS sexual health services</p></div>

  </div>
</div>

    </li>
  
    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item nhsuk-u-margin-bottom-6">
      



<div class="nhsuk-card nhsuk-card--clickable beta-card--plain">
  <div class="nhsuk-card__content beta-card__content">
    <h2 class="nhsuk-card__heading nhsuk-heading-m">
      <a class="nhsuk-card__link" href="/nhs-services/help-with-health-costs/">
        Help with health costs
      </a>
    </h2>
  <div class="nhsuk-card__description"><p data-block-key="ntzzz">Find out about when you need to pay, help when on universal credit, travel costs and personal health budgets</p></div>

  </div>
</div>

    </li>
  
    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item nhsuk-u-margin-bottom-6">
      



<div class="nhsuk-card nhsuk-card--clickable beta-card--plain">
  <div class="nhsuk-card__content beta-card__content">
  <h2 class="nhsuk-card__heading nhsuk-heading-m">
    <a class="nhsuk-card__link" href="/nhs-services/dentists/">
      Dentists
    </a>
  </h2>
  <div class="nhsuk-card__description"><p data-block-key="dxt1g">About NHS dental services, how to find an NHS dentist and how much treatment costs</p></div>

  </div>
</div>

    </li>
  
    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item nhsuk-u-margin-bottom-6">
      



<div class="nhsuk-card nhsuk-card--clickable beta-card--plain">
  <div class="nhsuk-card__content beta-card__content">
  <h2 class="nhsuk-card__heading nhsuk-heading-m">
    <a class="nhsuk-card__link" href="/nhs-services/opticians/">
      Opticians
    </a>
  </h2>
  <div class="nhsuk-card__description"><p data-block-key="mfcnk">Find an optician and see if you are entitled to free NHS eye tests</p></div>

  </div>
</div>

    </li>
  
    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item nhsuk-u-margin-bottom-6">
      



<div class="nhsuk-card nhsuk-card--clickable beta-card--plain">
  <div class="nhsuk-card__content beta-card__content">
    <h2 class="nhsuk-card__heading nhsuk-heading-m">
      <a class="nhsuk-card__link" href="/nhs-services/armed-forces-and-veterans-healthcare/">
        Healthcare for the armed forces community
      </a>
    </h2>
  <div class="nhsuk-card__description"><p data-block-key="qgm1c">Find information for the armed forces community, including veterans, serving personnel, reservists and their families</p></div>

  </div>
</div>

    </li>
  
    <li class="nhsuk-grid-column-one-third nhsuk-card-group__item nhsuk-u-margin-bottom-6">
      



<div class="nhsuk-card nhsuk-card--clickable beta-card--plain">
  <div class="nhsuk-card__content beta-card__content">
    <h2 class="nhsuk-card__heading nhsuk-heading-m">
      <a class="nhsuk-card__link" href="/nhs-services/online-services/">
        Online services
      </a>
    </h2>
  <div class="nhsuk-card__description"><p data-block-key="i7q89">Get your NHS number and find out how to order repeat prescriptions using an app or website</p></div>

  </div>
</div>

    </li>
  
</ul>




<div class="nhsuk-u-reading-width beta-hub-bottom-content">
  <h2 data-block-key="zrgz2">If you need help now, and you're not sure what to do</h2><ul><li data-block-key="b7g1o">Go to <a href="https://111.nhs.uk/">111.nhs.uk</a> or call 111</li></ul>
  <h2 data-block-key="6h4vt"><b>If you think it's an emergency</b></h2><ul><li data-block-key="mg198"><a href="https://www.nhs.uk/service-search/other-services/Accident-and-emergency-services/LocationSearch/428">Find your nearest A&amp;E</a></li><li data-block-key="o9tf6">Call 999</li></ul>
</div>



</article>

</div>
</div>

    
  </main>
</div>
    {% endblock %}

<!-- Footer goes inside the footer block -->
<!-- More info and code for the footer can be found at https://service-manual.nhs.uk/design-system/components/footer -->
{% block footer %}
{{
 footer({
    "links": [
      {
        "URL": "#",
        "label": "NHS sites"
      },
      {
        "URL": "#",
        "label": "About us"
      },
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Profile editor login"
      },
      {
        "URL": "#",
        "label": "Site map"
      },
      {
        "URL": "#",
        "label": "Accessibility statement"
      },
      {
        "URL": "#",
        "label": "Our policies"
      },
      {
        "URL": "#",
        "label": "Cookies"
      }
    ]
  })
}}
{% endblock %}