

{% extends 'template-1.html' %}


{% block pageTitle %}
  Find alcohol addiction support services
{% endblock %}

<!-- Header goes inside the header block -->
<!-- More info and code for the header can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %}
{{
 header({
    "showNav": "true",
    "showSearch": "true",
    "primaryLinks": [
      {
        "url": "",
        "label" : "Health A-Z "
      },
      {
        'url': '',
        'label' : 'Live Well'
      },
      {
        'url': '',
        'label' : 'Mental health'
      },
      {
        'url': '',
        'label' : 'Care and support'
      },
      {
        'url': '',
        'label' : 'Pregnancy'
      },
      {
        'url': '../nhs-services',
        'label': 'NHS services'
      }
    ]
  })
}}
{% endblock %}



{% block beforeContent %}
<nav class="nhsuk-breadcrumb beta-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      
      <li class="nhsuk-breadcrumb__item">
          <a href="../../nhsuk" class="nhsuk-breadcrumb__link">Home</a>
        </li>
        
      <li class="nhsuk-breadcrumb__item">
          <a href="../nhs-services" class="nhsuk-breadcrumb__link">NHS services</a>
        </li>
        
      </ol>

      <p class="nhsuk-breadcrumb__back">
        
          <a href="../nhs-services" class="nhsuk-breadcrumb__backlink">
            <span class="nhsuk-u-visually-hidden">Back to </span>
            NHS services
          </a>
        
      </p>
    </div>
  </nav>
{% endblock %}




{% block content %}

<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper nhsuk-u-padding-top-0 nhsuk-u-padding-top-0" id="maincontent" lang="en-GB">
  
<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-two-thirds">


<h1>

Find alcohol addiction support services

</h1>



</div>
</div>

<article>
<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-two-thirds">

  




<section>





  
    



<p data-block-key="gydm6">Alcohol addiction services can help you reduce or stop your drinking if it's affecting your life or your health.</p><p data-block-key="a7lql">Alcohol addiction services include:</p><ul><li data-block-key="2u7ok">support to help you stop drinking</li><li data-block-key="b8o5s">rehabilitation</li><li data-block-key="enlri">counselling and cognitive behaviour therapy (CBT)</li><li data-block-key="bck59">group therapy</li><li data-block-key="6tpc8">self-help</li></ul>

  


</section>






<section>





  
    



<h2 data-block-key="gydm6">Before you start</h2><p data-block-key="48knl">We’ll ask you where you live in England. This is so we can find the right services for you.</p>

  



  
    

<a href="https://www.nhs.uk/Service-Search/find-an-alcohol-addiction-service/location" role="button" draggable="false" class="nhsuk-button ">
Start now
</a>

  



  
    



<p data-block-key="0i9h5">By using this service, you are agreeing to our terms of use and privacy policy.</p><p data-block-key="4anei">If you do not live in England visit <a href="https://www.nhs24.scot/">NHS Inform for Scotland</a>, <a href="https://111.wales.nhs.uk/">NHS 111 for Wales</a> or <a href="http://online.hscni.net/">HSCNI Online for Northern Ireland</a>.</p>

  


</section>










</div>



</div>
</article>





<div>
<p class="nhsuk-body-s nhsuk-u-margin-top-7 nhsuk-u-secondary-text-color">
Page last reviewed: 20 January 2022
<br>
Next review due: 20 January 2025
</p>
</div>








  
</main>
</div>

    {% endblock %}

