
{% extends 'template-1.html' %}


{% block pageTitle %}
  Mental health services  
{% endblock %}

<!-- Header goes inside the header block -->
<!-- More info and code for the header can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %}
{{
 header({
    "showNav": "true",
    "showSearch": "true",
    "primaryLinks": [
      {
        "url": "",
        "label" : "Health A-Z "
      },
      {
        'url': '',
        'label' : 'Live Well'
      },
      {
        'url': '',
        'label' : 'Mental health'
      },
      {
        'url': '',
        'label' : 'Care and support'
      },
      {
        'url': '',
        'label' : 'Pregnancy'
      },
      {
        'url': '../nhs-services',
        'label': 'NHS services'
      }
    ]
  })
}}
{% endblock %}



{% block beforeContent %}
<nav class="nhsuk-breadcrumb beta-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      
      <li class="nhsuk-breadcrumb__item">
          <a href="../../nhsuk" class="nhsuk-breadcrumb__link">Home</a>
        </li>
        
      <li class="nhsuk-breadcrumb__item">
          <a href="../nhs-services" class="nhsuk-breadcrumb__link">NHS services</a>
        </li>
        
      </ol>

      <p class="nhsuk-breadcrumb__back">
        
          <a href="../nhs-services" class="nhsuk-breadcrumb__backlink">
            <span class="nhsuk-u-visually-hidden">Back to </span>
            NHS services
          </a>
        
      </p>
    </div>
  </nav>
{% endblock %}




{% block content %}
<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper nhsuk-u-padding-top-0 nhsuk-u-padding-top-0" id="maincontent" lang="en-GB">
  
<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-full">

<div class="nhsuk-u-reading-width">


<h1>

Mental health services

</h1>
<p class="nhsuk-lede-text">
Find out how to access NHS mental health services and where to get urgent help.
</p>


</div>

<article>






<div class="nhsuk-u-reading-width">



<div class="nhsuk-card nhsuk-card--care nhsuk-card--care--urgent">
<div class="nhsuk-card--care__heading-container">
<h2 class="nhsuk-card--care__heading">
<span role="text">
  <span class="nhsuk-u-visually-hidden">Urgent advice: </span>If it's an emergency or you need urgent help
</span>
</h2>
<span class="nhsuk-card--care__arrow" aria-hidden="true"></span>
</div>
<div class="nhsuk-card__content">


  
    



<ul><li data-block-key="9x8of">If you or someone else is in danger, call <a href="tel:999">999</a> or go to A&amp;E now</li><li data-block-key="ac9j5">If you need help urgently for your mental health, but it's not an emergency, <a href="https://111.nhs.uk/">get help from NHS 111 online</a> or call <a href="tel:111">111</a></li></ul><p data-block-key="11q4m">Your mental health is as important as your physical health. You will not be wasting anyone's time.</p>

  



</div>
</div>

</div>

<div class="nhsuk-u-reading-width">










<div class="nhsuk-card  nhsuk-card--clickable ">


<div class="nhsuk-card__content ">

<h2 class="
    nhsuk-card__heading
    
     nhsuk-heading-m
    
  ">
  <a class="nhsuk-card__link" href="https://www.nhs.uk/service-search/mental-health/find-an-urgent-mental-health-helpline">
    NHS urgent mental health helplines
  </a>
</h2>



  <p data-block-key="6mdqc">Get 24-hour advice and support from a mental health professional, for anyone of any age</p>


</div>
</div>

</div>

<div class="nhsuk-u-reading-width">










<div class="nhsuk-card  nhsuk-card--clickable ">


<div class="nhsuk-card__content ">

<h2 class="
    nhsuk-card__heading
    
     nhsuk-heading-m
    
  ">
  <a class="nhsuk-card__link" href="https://www.nhs.uk/service-search/mental-health/find-an-NHS-talking-therapies-service/">
    NHS therapy and counselling services
  </a>
</h2>



  <p data-block-key="6mdqc">NHS talking therapies services are for people in England aged 18 or over. You can speak to your GP about talking therapies or get in touch with the talking therapies service directly without going to your GP. Talking therapies can treat conditions like:</p><ul><li data-block-key="co0p1">depression</li><li data-block-key="ffk2d">generalised anxiety</li><li data-block-key="6iet4">social anxiety</li><li data-block-key="9ltr2">panic and agoraphobia</li><li data-block-key="4t2ip">other phobias</li><li data-block-key="2r4pf">obsessive-compulsive disorder (OCD)</li><li data-block-key="98klp">post-traumatic stress disorder (PTSD)</li><li data-block-key="7k71b">body dysmorphic disorder</li></ul><p data-block-key="3lqjb"><a href="https://www.nhs.uk/service-search/mental-health/find-an-NHS-talking-therapies-service/">Get NHS therapy and counselling</a></p>


</div>
</div>

</div>

<div class="nhsuk-u-reading-width">










<div class="nhsuk-card  nhsuk-card--clickable ">


<div class="nhsuk-card__content ">

<h2 class="
    nhsuk-card__heading
    
     nhsuk-heading-m
    
  ">
  <a class="nhsuk-card__link" href="/nhs-services/mental-health-services/how-to-find-local-mental-health-services/">
    How to find local mental health services
  </a>
</h2>



  <p data-block-key="6mdqc">The support you can get and how you access it depends on where you are</p>


</div>
</div>

</div>

<div class="nhsuk-u-reading-width">










<div class="nhsuk-card  nhsuk-card--clickable ">


<div class="nhsuk-card__content ">

<h2 class="
    nhsuk-card__heading
    
     nhsuk-heading-m
    
  ">
  <a class="nhsuk-card__link" href="https://hubofhope.co.uk/">
    Find local mental health charities
  </a>
</h2>



  <p data-block-key="6mdqc">You can visit Hub of Hope to search for mental health charities where you live. It's run by a national charity called Chasing the Stigma.</p>


</div>
</div>

</div>

<div class="nhsuk-u-reading-width">










<div class="nhsuk-card  nhsuk-card--clickable ">


<div class="nhsuk-card__content ">

<h2 class="
    nhsuk-card__heading
    
     nhsuk-heading-m
    
  ">
  <a class="nhsuk-card__link" href="/mental-health/children-and-young-adults/mental-health-support/">
    Mental health services for children and young people
  </a>
</h2>



  <p data-block-key="6mdqc">Find out about support for mental health for children, young people, parents and carers</p>


</div>
</div>

</div>

<div class="nhsuk-u-reading-width">










<div class="nhsuk-card  nhsuk-card--clickable ">


<div class="nhsuk-card__content ">

<h3 class="
    nhsuk-card__heading
    
    
    
  ">
  <a class="nhsuk-card__link" href="/nhs-services/mental-health-services/find-care-for-your-mental-health-before-during-and-after-pregnancy/">
    Find care for your mental health before, during and after pregnancy
  </a>
</h3>



  <p data-block-key="b4b95">Find out how to get help with your mental health if you're planning to have a baby, if you're pregnant, or after you've given birth</p>


</div>
</div>

</div>








<div class="nhsuk-u-reading-width nhsuk-u-margin-top-6 nhsuk-hub-after-key-links">

</div>





</article>

</div>
</div>

  
</main>
</div>
    {% endblock %}

