<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  NHS.UK prototype kit
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>
        Search prototype
      </h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->



      <h2>
        Version1
      </h2>

      <h3>Scenario 1a - Find a service in an area: Search for Croydon</h3>
      <p>Place name only: currently estimated to be 5% of all unhappy searches (Algolia, 16/01/24)</p>
      <ol>
        <li><a href="version1/nhsuk">Home page</a></li>
        <li><a href="version1/nhsuk/search/results-croydon">Search results page - no results</a></li>
        <li><a href="version1/nhsuk/nhs-services">NHS Services hub</a></li>
        <li><a href="version1/nhsuk/nhs-services/gps">GPs</a></li>
        <li><a href="version1/nhsuk/service-search/find-a-gp">Find a GP</a></li>
      </ol>

      <h3>Scenario 1b - Find a service in an area: Search for Croydon</h3>
      <p>Place name only: currently estimated to be 5% of all unhappy searches (Algolia, 16/01/24)</p>
      <ol>
        <li><a href="version1/nhsuk">Home page</a></li>
        <li><a href="version1/nhsuk/search/results-croydon">Search results page - no results</a></li>
        <li><a href="version1/nhsuk/services-near-you">Services near you</a></li>
        <li><a href="version1/nhsuk/nhs-services/gps">GPs</a></li>
        <li><a href="version1/nhsuk/service-search/find-a-gp">Find a GP</a></li>
      </ol>


      <h3>Scenario 2 - Service specific: name of hospital</h3>
      <p>If place name + the word 'pharmacy' 'hospital' is mentioned</p>
      <ol>
        <li><a href="version1/nhsuk">Home page</a></li>
        <li><a href="version1/nhsuk/search/results-kings-cross-hospital-v1">Search results page - hospitals (version 1)</a></li>
        <li><a href="version1/nhsuk/search/results-kings-cross-hospital-v2">Search results page - hospitals (version 2)</a></li>
      </ol>









<br>
      <hr>
      
        <h3>Links to pages</h3>

        <ul>
          <li>
            <a href="version1/nhsuk">Homepage</a>
          </li>

  
          <li>
            <a href="version1/nhsuk/nhs-services">NHS services</a>
          </li>

        <br>
        <li>
          <a href="version1/nhsuk/search/results-hospital-v1">Search results for hospital - v1</a>
        </li>
        <li>
          <a href="version1/nhsuk/search/results-hospital-v2">Search results for hospital - v2</a>
        </li>
        <li>
          <a href="version1/nhsuk/results-croydon">No results</a>
        </li>



      </ul>

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
